*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: "robotoextra";
    src: url(./fonts/Roboto-ExtraLight.ttf);
}

header{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 30px;
}
.master img{
    width: 100%;
    height: 15vh;
}

.mean ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    
}
.mean{
    display: flex;
    flex-direction: row;
    gap: 100px;
    
}
.mean ul li{
    list-style: none;
   
    
}
.mean ul li a{
    text-decoration: none;
    color: rgb(100, 95, 95);
    font-family: roboto;
    font-size: small;

    
   
    
}
                
.headbutt{
    border: none;
    background-color: transparent;
    background-color: rgb(250 89 89 );
    border: 2px solid rgb(250, 89, 89);
    border-radius: 5px;
    padding: 14px 30px;
    color: white;


    
}
.headbutt:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.fa-solid{
    display: none;
    

}
/* hero section strat */
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 70px 30px ;
    justify-content: center;
    
    
    
    

    
}


.hero-content{
    width: 40%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: self-start;

}
.heading{
    font-family: robotoextra;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(36 42 69 );
}
#pera{
    font-family: roboto;
    padding: 0px 50px 0px 0px;
    font-size: large;
    line-height: 150%;
    color: rgb(126, 122, 122);
    
}
.hero-img {
    width: 40%;
    position: relative;
    left: 4%;
}
.hero-img img {
    width: 100%;
}
.herobutt{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
#herobutt1{
    border: none;
    background-color: transparent;
    background-color: rgb(82 103 223 );
    border-radius: 5px;
    padding: 14px 30px;
    color: white;
     font-size: large;
    

    }
    #herobutt1:hover{
        cursor: pointer;
         background-color: rgb(247 247 247 );
         color: black;
        }
        
    #herobutt2{
    border: none;
    background-color: transparent;
    background-color: rgb(247 247 247 );
    border-radius: 5px;
    padding: 14px 30px;
    color: black;
    box-shadow: 2px 2px rgb(190, 186, 186);
    font-size: large;
    

    }
      #herobutt2:hover{
        cursor: pointer;
         background-color: rgb(82 103 223 );
         color: white;
        }
        .rectangle{
         width: 49%;
        height: 18rem;
        background-color: rgb(82 103 223);
            border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    position: absolute;
    right: 0;
    top: 65%;
    z-index: -1;
        
    }

/* hero section end */
  /* featuers section start */
 
  
  
  
  .featuers{

    
    
    width: 100%;
    
    
    background-color: rgb(247 247 247);


  

 
    padding: 80px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
    .features-content h1{
color: rgb(48, 43, 43);
font-family: robotoextra;
font-size: 23px;
    }
     .features-content p{
        color: rgb(94, 81, 81);
        font-family: robotoextra;
     }
  .features-content{
    width: 41%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* featuers section end */
  /* hero section start */
  .hero-2nd{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 70px 0px ;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 80px;
      background-color: rgb(247 247 247);
    
    
    
    

    
}
  .circle{
        width: 40%;
        height: 20rem;
        background-color: rgb(82 103 223);
            border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
     position: absolute;
     left: 0;
    top: 198%;
    

         
  }
  #image{
    
    width: 40%;
    position: relative;
    z-index: 1;
}
#write{
    line-height: 150%;
    word-spacing: 0%;
}
#size{
    font-size: 25px;
}
  


    
  /* hero section end */
  /* 2nd hero section start */
    .hero-3rd{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 70px 0px ;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
      background-color: rgb(247 247 247);
      align-items: center;
    
    
    
    

    
}
   .squre{
    width: 50%;
    height: 20rem;
    background-color: rgb(82 103 223);
     border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    position: absolute;
    right: 0;
    top: 315%;
   }
   #image-3rd {
    width: 35%;
    position: relative ;
    z-index: 1;
   }
  /* 2nd hero section end */
  /* 3rd section start */
     .hero-4th{
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 70px;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 80px;
      background-color: rgb(247 247 247);
      align-items: center;
    
    
    
    

    
}
.trangle{
width: 38%;
height: 18rem;
background-color: rgb(82 103 223);
  border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
position: absolute;
left: 0;
top: 400%;
}
#image-4th{
    width: 35%;
    position: relative;
    z-index: 1;
 
}

  /* 3rd section end */

/* extention section start */

.extention{
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: white;
    
    
   
}
.extention-content{
    padding: 0px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.extention-content p{

    color: rgb(73, 64, 64);
    font-family: robotoextra;
    font-size: large;
    font-weight: 500;
    line-height: 1.5;
    
}
.extention-content h1{
    color: rgb(10, 10, 10);
    font-family: robotoextra;
    font-size: 23px;
    
}
.extention-content p span{
    display: block;
}
.extention-cards{
 
    display: block;
    
    
    
}
.card-1{
       width: 280px;
    height: 230px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
    
    
}
.mean-cards{
      width: 100%;
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 70px;


}
.extention-cards{
    display: flex;
    flex-direction: column;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}
.extention-cards button{
    background-color: transparent;
    border: none;
    background-color: rgb(82 103 223 );
    padding: 0px 40px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-family: roboto;
    font-size: 15px;
    

    
    
}
.extention-butt{
    background-color: white;
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(245, 237, 237) ;
    width: 280px;
    height: 70px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 7px;


}

.extention-cards button:hover{
        cursor: pointer;
         background-color: rgb(247 247 247 );
         color: black;
        }
        .card-content h3{
        color: #1d1b1b;
        font-family: roboto;
        font-weight: 400;
        }
          .card-content p{
        color: #a39c9c;
        font-family: roboto;
        font-weight: 400;
        

        }
.card-content img{
    width: 100px;
}
.excard2{
    padding-top: 50px;
}

.excard3{
    padding-top: 80px;
}

/* extention section end */


/* searching section start */
/* .searching{
    width: 100%;
    height: 100vh;
    background-color:  rgba(238, 238, 238, 0.637);
    
    

}
.search-contect{
  padding: 90px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
} */
/* searching section end */








































































@media screen and  (min-width:0px) and (max-width:480px){
    
    body
     { overflow-x: hidden; }

    .mean{
        display: none;
    }
    .fa-solid{
display: block;  
}
header{
    justify-content: center;
    gap: 30%;
    

}
.master img{
    width: 120%;
    height: 20vh;
}
.hero{
    flex-direction: column-reverse;
    padding: 350px 30px;
    


}
.hero .hero-content{
    width: 100%;
    
    text-align: center;
     padding-top: 20px;
    padding-left: 10px;
    padding-right: 0px;
}
.hero .hero-content #pera{
    width: 450px;
}

.hero .hero-img{
    width: 100%;
    padding-top: 20px;
    padding-right: 30px;
    
}

.rectangle{
    display: none;
}
.features-content{

    width: 100%;
}
.circle{
    display: none;
}
.hero-2nd{
      flex-direction: column-reverse;
    padding: 100px 30px 200px 50px;

}
.hero-2nd .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-2nd #image{
     width: 100%;
    padding-top: 200px;
    padding-right: 10px;
    
}
#image img{
    width: 100%;
 }
 #pera{
    width: 450px;
 }
 /* start */
 .hero-3rd{
      flex-direction: column-reverse;
    padding: 100px 30px 200px 50px;

}
.hero-3rd .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-3rd #image-3rd{
     width: 100%;
    padding-top: 500px;
    padding-right: 10px;
    
}
#image-3rd img{
    width: 100%;
 }
 #pera{
    width: 450px;
 }
.squre{
    display: none;
}
 /* end */
 /* start */
 .hero-4th{
      flex-direction: column-reverse;
    padding: 100px 20px 100px 50px;

}
.hero-4th .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-4th #image-4th{
     width: 100%;
    padding-top: 200px;
    padding-right: 10px;
    
}
#image-4th img{
    width: 100%;
 }
 #pera{
    width: 450px;
 }
.trangle{
    display: none;
}
.herobutt{
    padding-right: 50px;

}
 /* end */


 /* extention statr */
 .extention{
    width: 100%;
    
}
.mean-cards{
    flex-direction: column;
    padding-top: 650px;
    
}
.card-1{
    width: 430px;
}
.extention-butt{
    width: 430px;
}
.extention-cards{
    padding-left: 20px;
}
.excard2{
    padding-top: 0px;
}
.excard3{
    padding-top: 0px;
}
 /* extention end */

}


@media screen and  (min-width:481px) and (max-width:768px){
    
    .mean{
        display: none;
    }
    .fa-solid{
display: block;
} 
header{
    justify-content: center;
    gap: 200px;
    

}
.master img{
    width: 100%;
    height: 25vh;
}   
.hero{
    flex-direction: column-reverse;
    padding: 290px 30px;

}
.hero .hero-content{
    width: 100%;
    text-align: center;
    align-items: center;
     padding-top: 50px;
    padding-left: 10px;
    padding-right: 0px;
}

.hero .hero-img{
    width: 100%;
    padding-top: 100px;
    padding-right: 30px;
 padding-left: 30px;   
}
.hero .hero-img img{
    width: 90%;
}

.rectangle{
    display: none;
}
.features-content{
    
padding-top: 100px;
    width: 80%;
}
.featuers{
    padding: 80px 0px;
}




.circle{
    display: none;
}
.hero-2nd{
      flex-direction: column-reverse;
    padding: 200px 30px 200px 50px;

}
.hero-2nd .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-2nd #image{
     width: 100%;
    padding-top: 200px;
    padding-right: 10px;
    padding-left: 70px;
    
}
#image img{
    width: 80%;
 }
 #pera{
    width: 450px;
 }

 .hero-3rd{
      flex-direction: column-reverse;
    padding: 200px 30px 200px 50px;

}
.hero-3rd .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-3rd #image-3rd{
     width: 100%;
    padding-top: 700px;
    padding-right: 10px;
padding-left: 90px;    
}
#image-3rd img{
    width: 90%;
 }
 #pera{
    width: 450px;
 }
.squre{
    display: none;
}

 .hero-4th{
      flex-direction: column-reverse;
    padding: 200px 30px 200px 50px;

}
.hero-4th .hero-content{
     width: 100%;
    
    text-align: center;
    align-items: center;
     padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}





.hero-4th #image-4th{
     width: 100%;
    padding-top: 1400px;
    padding-right: 30px;
    padding-left: 90px;
    
}
#image-4th img{
    width: 90%;
 }
 #pera{
    width: 450px;
 }
.squre{
    display: none;
}
.trangle{
    display: none;
}
.herobutt{
    padding-right: 50px;

}

    
    
}



















